.container h6{
  color: brown;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.mainContainer h6{
  color: blue;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.App {
  padding: 16px;
}
.warning {
  color: blue;
  font-size: 10px;
}